
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
/* @import url('../../../node_modules/swiper/swiper.scss'); */

/* @font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
  src: url('../../fonts/Inter-VariableFont_opsz\,wght.ttf') format('truetype') tech('variations');
  font-weight: 100 900;
  font-optical-sizing: auto;
  font-stretch: 25% 151%;
  font-style: normal;
} */