mixin membershipContent(title, desc)
    .membership-content 
        .membership-content__icon-wrapper
            img(src='../images/membership-icon.svg')
        .membership-content__info
            h3.membership-content__title=`${title}`
            h3.membership-content__desc=`${desc}`