$primary-color: #333;
$bg-color: #FFF;
$max-width: 800px;
$text-main: #3E404C;
$text-bright: #606476;
$text-ebony: #030407;
$secondary-color: #443FDE;
$secondary-bg: #F3F3FC;
$tags-text-orange: #C98B40;
$tags-bg-orange: #FEF7F1;
$tags-text-green: #246B49;
$tags-bg-green: #F1F8F4;
$placeholder-color: #999999;
$borders-color-main: #EBEBEF;
$footer-titles: #84889A;
$batch-bg: #F9F9FB;
