extends ../layouts/default.pug

block content
  main
    include ../blocks/banner.pug
    include ../blocks/jobs-openings.pug
    include ../blocks/companies.pug
    include ../blocks/membership-site.pug
    include ../blocks/news.pug